/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin-auto;
  display: inline-block;
  transform: translate(150px);
  /* transform: translate(150px, -100px); */
  opacity: 0.5;
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);

}

.transition-demo img:hover {
  filter: none;
  transform: scale(1.25) rotate(360deg);
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation-name: sale-bar;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* animation-iteration-count: 10; */
}

@keyframes sale-bar {
  0%   {background-color: lightgreen; width: 450px}
  25%  {background-color: gold; width: 375px}
  50%  {background-color: salmon; width: 250px}
  75%  {background-color: #FF033E; width: 125x; border-radius: 0; transform: scale(1);}
  100% {background-color: crimson; width: 10px; border-radius: 100%; transform: scale(0)}
}
